<footer class="py-2 bg-dark text-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 text-lg-center">
        Copyright Sebastian Cardozo &copy; PIL Money 2022
      </div>
      <div class="col-lg-12 bg-dark">
        <h4 class="text-uppercase mb-4">Buscanos en Redes</h4>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"
          ><i class="fab fa-fw fa-facebook-f"></i></a>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"
          ><i class="fab fa-fw fa-twitter"></i ></a>
        <a class="btn btn-outline-light btn-social mx-2" href="#!"
          ><i class="fab fa-fw fa-linkedin-in"></i></a>
    </div>
    </div>
  </div>
</footer>
