/* You can add global styles to this file, and also import other style files */
header.fondo {
  padding-top: 25rem;
  padding-bottom: 6rem;
  padding-right: 2rem;
  text-align: center;
  color: rgb(4, 4, 4);
  background-image: url("assets/image/wallet.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
h1.mensaje-bienvenida {
  line-height: 1.5rem;
  margin-bottom: 25px;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}
